# Application settings
APP_NAME=KnowledgeHub
ALLOWED_ORIGINS=https://votre-domaine-production.fr,http://localhost:5173  # remplacer par vos domaines autorisés séparés par des virgules


# Base de données PostgreSQL
DB_HOST=rag-postgres
DB_PORT=5432
DB_NAME=rag-db 
DB_USER=rag-user
DB_PWD=bd_pwd# remplacer par un mot de passe fort en production

# Admin user
ADMIN_USERNAME=admin # remplacer par admin en production
ADMIN_EMAIL=admin@localhost.com # remplacer par une adresse email valide en production
ADMIN_PASSWORD=admin_pwd # remplacer par un mot de passe fort en production

# JWT
SECRET_KEY=JWT_SECRET_KEY # remplacer par une clé secrète forte en production

# Ollama
OLLAMA_HOST=host.docker.internal
OLLAMA_PORT=11434
OLLAMA_EMBEDDING_MODEL=embeddinggemma
OLLAMA_QUERY_MODEL=gemma3:4b

# Répertoire
TEMP_DIR=/app/temp
PROMPTS_DIR=/app/prompts
KNOWLEDGE_BASE_DIR=/app/knowledge_base # répertoire de stockage interne Docker
HOST_STORAGE_PATH=/host_storage/knowledge_base # répertoire de stockage host à modifier

# RQ (Redis Queue)
REDIS_HOST=rag-redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=redis_password # remplacer par un mot de passe fort en production
RQ_WORKER_MODE=simple # remplacer par fork en production si suffisament de mémoire, sinon simple

# Workers
WORKERS_COUNT=1 # ajuster en fonction des ressources disponibles en production

# Reranker settings
RERANKER_MODEL=antoinelouis/crossencoder-distilcamembert-mmarcoFR
RERANKER_THRESHOLD=0.0

# Chunking settings
CHUNK_MAX_TOKENS=512
EMBEDDING_TOKENIZER_MODEL=nomic-ai/nomic-embed-text-v1